<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head lang="en">
    <meta charset="UTF-8">
    <title>requirejs</title>
    <script type="text/javascript" src="/public/js/requirejs/require.js"></script>
    <script type="text/javascript" src="/public/js/main.js"></script>
</head>
<body>

<h2 style="color: red;">RequireJS Demo ,  JDPrice</h2>
<hr/>

<h4> http://p.3.cn/prices/mgets?skuIds=J_100012&area=&type=1</h4>

<table id="price_table" border="1" cellspacing="0" cellpadding="0">
    <thead>
        <tr><th>SKU_ID</th><th>JD_PRICE</th><th>LINK</th></tr>
    </thead>
    <tbody>

    </tbody>
</table>

<script type="text/template" id="price_tpl">
    <% _.each(list, function(_item) {  %>
    <tr>
        <td><%= _item.sku %></td>
        <td>￥ <span class="jprice"><%= _item.p %></span></td>
        <td><a  target="_blank" href="http://item.jd.com/<%=_item.sku%>.html">http://item.jd.com/<%=_item.sku%>.html</a></td>
    </tr>
    <% })%>

</script>
<script type="text/javascript">

    require(['jquery','underscore','jPrice'], function ($, _ , jPrice) {

        var skus = [11009229,1039408];

        var compiled =  _.template($("#price_tpl").html());

        jPrice.mget(skus , function (_rsp) {


            var dom = compiled({list: _rsp});


            console.log(dom);

            $("#price_table tbody").html(dom);
        });

    });
</script>

</body>
</html>